.carousel-inner {
  height: 45rem;
  overflow: hidden;
}

.carousel-item {
  height: 45rem;
}

.carousel-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* height: 50rem; */
  opacity: 0.8;
}

.carousel-item video source {
  height: auto;
}

.carousel-wrapper {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Carousel'in üzerinde kalması için */
  color: black; /* Metin rengi */
  text-align: center; /* Metni ortalamak için */
}
