.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.carousell .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
  max-height: 670px;
}
