.whatsapp-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #25d366;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.whatsapp-button:hover {
  background-color: #128c7e; /* Hover durumunda arka plan rengini değiştir */
}
