.bilgiButton {
  padding: 1rem;
  border-radius: 2rem;
  background-color: #85713A;
  font-size: 20px;
  color: white;
}

.container {
  margin-top: 5rem;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hidden {
  opacity: 0;
}

.animate-left {
  animation: slideInLeft 1s forwards;
}

.animate-right {
  animation: slideInRight 1s forwards;
}

.bilgiButton {
  /* Mevcut stilleriniz */
}

.bilgiButton:hover {
  /* Mevcut hover stilleriniz */
}
