.servicesh1 {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceshP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f9f9;
  border-radius: 2rem;
  margin-top: 1rem;
}

.aciklama {
  display: none; /* Başlangıçta gizli */
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f6f9f9;
  color: black;
  border-radius: 0.5rem;
}

.acıklamaAltDiv {
  box-sizing: border-box; /* Padding dahil genişlik hesaplama */
  display: flex; /* Flexbox kullanarak hizalama */
  justify-content: center; /* Dikeyde ortalama */
  align-items: center; /* Yatayda ortalama */
  transition: visibility 0.3s, opacity 0.3s; /* Geçiş efektleri */
}

.acıklamaAltDiv p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0; /* Her paragrafın üst ve altına boşluk ekle */
  width: 100%; /* Tüm genişliği kaplayacak */
  box-sizing: border-box; /* Padding dahil genişlik hesaplama */
}

.servicesCard:hover .aciklama {
  visibility: visible; /* Kartın üzerine gelindiğinde görünür yap */
  opacity: 1; /* Opacity'yi artırarak görünür hale getir */
}

.servicesCard:hover {
  height: auto; /* Yüksekliği otomatik yap */
  padding-bottom: 1rem; /* Alt kısımda boşluk oluştur */
}

.servicesCard:hover .aciklama {
  display: flex; /* Açıklamayı görünür yap */
  justify-content: center;
  align-items: center;
}

.servicesIcon img {
  width: 100%;
  transition: opacity 0;
}
