.servicesh1 {
  margin-top: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceshP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aciklama {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 3rem;
  padding: 2rem;
}

.servicesCard {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #f6f9f9;
  border-radius: 2rem;
  margin-top: 1rem;
}
